@font-face {
    font-family: OpenSans;
    src: url("./fonts/OpenSans-VariableFont_wdth,wght.ttf");
}
html, body{
    font-family: OpenSans, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    padding: 15px;
    margin: 0;
    color: white;
    text-shadow: 3px 0px grey;
    letter-spacing: 1px;
}   
.header{
    height: 8vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #0A0708;
}
.body{
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.library{
    width: 75vw;
    height: 92vh;
    background-color: #B1B1B1;
}
.info{
    width: 25vw;
    height: 92vh;
    background-color: #747474;
}
.books{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    margin: auto;
    border: 2px solid black;
    height: 33vh;
    width: 22vw;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}